<div class="d-flex justify-content-center" style="margin-top: 100px">
    <div class="card col-3" [ngSwitch]="formState">
        <div class="card-body" [ngSwitch]="formState">
            <form [formGroup]="form">
                <div class="justify-content-centr">
                    <h1 class="h3 mb-3 font-weight-normal d-flex justify-content-center" *ngSwitchCase="1">Please sign in</h1>
                    <h1 class="h3 mb-3 font-weight-normal d-flex justify-content-center" *ngSwitchCase="2">Please sign up</h1>
                </div>
                <div class="form-group ">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('email').invalid">
                        Incorrect email!
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <div class="alert alert-danger" role="alert" *ngIf="form.get('password').invalid">
                        The length of the password should be 8-15 squirrels
                    </div>
                </div>
                <div class="form-group" *ngSwitchCase="2">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword">
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="form.get('confirmPassword').invalid">
                        The length of the password should be 8-15 squirrels
                    </div>
                </div>
                <div class="alert alert-danger mt-1" role="alert" *ngIf="error">
                    {{error}}
                </div>
                <div class="row justify-content-md-around">
                    <button class="btn btn-primary" *ngSwitchCase="1" (click)="logIn()">log in</button>
                    <button type="button" class="btn btn-light" *ngSwitchCase="1" (click)="formState=2; error = ''">Sign up</button>
                </div>
                <div class="row justify-content-md-around">
                    <button class="btn btn-primary " *ngSwitchCase="2" (click)="regUser()">Sign up</button>
                    <button type="button" class="btn btn-light" *ngSwitchCase="2" (click)="formState=1; error = ''">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>